<ion-header [translucent]="true">
  
</ion-header>


<ion-content [fullscreen]="true">
  <img src="assets/icon/logo.png" alt="App Logo" class="logo" />
  

  <!-- Formulario para cambiar la contraseña -->
  <ion-item>
    <ion-label position="floating">Contraseña actual</ion-label>
    <ion-input type="password" [(ngModel)]="antiguaContra"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="nuevaContra"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="cambiarContrasena()">Cambiar contraseña</ion-button>
</ion-content>
