<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" color="header">

  <div class="logo">
    <img src="assets/icon/logo.png" alt="App Logo" class="logo" />
  </div>
  <div class="login-recuadro">
    <ion-card class="login-card" color="light">
      
      <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>

          <ion-item color="light">
            <ion-input label="Nombre Usuario" labelPlacement="floating" placeholder="Ingrese un nombre de usuario"
            [(ngModel)]="nombreUsuario"
            name="nombreUsuario"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input type="Email" label="Email" labelPlacement="floating" placeholder="Ingrese su correo" ngModelemail
            [(ngModel)]="email"
            name="email"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input type="tel" label="Telefono" labelPlacement="floating" placeholder="Ingrese su numero de telefono" ngModelemail
            [(ngModel)]="telefono"
            name="telefono"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
            [(ngModel)]="contra"
            name="contra"></ion-input>
          </ion-item>

          <ion-button (click)="registrar()">
            Registrarse
          </ion-button>
        </form>

        <ion-row class="register-link">
          <ion-col class="ion-text-center">
            <ion-router-link [routerLink]="['/iniciar']">¿Ya tienes una cuenta? Inicia sesion</ion-router-link>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
