<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" color="header">

  <div class="logo">
    <img src="assets/icon/logo.png" alt="App Logo" class="logo" />
  </div>
  <div class="login-recuadro">
    <ion-card class="login-card" color="light">
      
      <ion-card-header>
        <ion-card-title>Registrarse</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>

          <ion-item color="light">
            <ion-input label="Nombre Usuario" labelPlacement="floating" placeholder="Ingrese un nombre de usuario" maxlength="14"
            [(ngModel)]="nombreUsuario"
            name="nombreUsuario"></ion-input>
          </ion-item>
          <ion-item color="null" lines="none">
            <ion-text color="medium">
              <small>
                Su nombre de usuario debe tener como minimo 6 y maximo 14 caracteres.
              </small>
            </ion-text>
          </ion-item>

          <ion-item color="light">
            <ion-input type="Email" label="Email" labelPlacement="floating" placeholder="Ingrese su correo"
            [(ngModel)]="email"
            name="email"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-label slot="start">+56 9</ion-label>
            <ion-input type="tel" label="Teléfono" labelPlacement="floating" placeholder="99999999"
            [(ngModel)]="telefono"
            (ionInput)="validarSoloNumeros($event)"
            name="telefono"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
            [(ngModel)]="contra"
            name="contra"></ion-input>
          </ion-item>

          <ion-item color="null" lines="none">
            <ion-text color="medium">
              <small>
                La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula, un número y un signo.
              </small>
            </ion-text>
          </ion-item>
          

          <ion-item color="light">
            <ion-input type="password" label="Confirmar Contraseña" labelPlacement="floating" placeholder="Confirme su contraseña"
            [(ngModel)]="confirmarContra"
            name="confirmarContra"></ion-input>
          </ion-item>

          <ion-button (click)="registrar()">
            Registrarse
          </ion-button>
        </form>

        <ion-row class="register-link">
          <ion-col class="ion-text-center">
            <ion-router-link [routerLink]="['/iniciar']">¿Ya tienes una cuenta? Inicia sesión</ion-router-link>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
