<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Administra publicación de Usuarios</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>
      
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>
      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Nombre de Usuario</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <div class="header-content">
          <ion-card-title>Título de la Publicación</ion-card-title>
          <ion-icon name="trash" class="icon-trash">
            <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
        <ion-toast
          [isOpen]="isToastOpen"
          message="Ubicación eliminada correctamente."
          [duration]="3000"
          (didDismiss)="setOpen(false)"
        ></ion-toast>
          </ion-icon>
        </div>
      </ion-card-header>

      <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
