<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Administrar publicaciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo-admin.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <ng-container *ngFor="let publicacion of publicaciones">
    <div class="card-publicacion">
      <div class="perfil">
        <img src="publicacion.foto_perfil" alt="Profile Picture" class="foto-perfil">
        <span class="nombre">{{publicacion.nombre_usuario}}</span>
      </div>
      <ion-card class="card-conten">
        <ion-card-header>
          <div class="header-content">
            <ion-card-title>{{publicacion.titulo}}</ion-card-title>
            <ion-button (click)="confirmarBorrado()" fill="clear" color="dark">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-card-header>
        
        <img [src]="publicacion.foto_perfil"alt="Imagen de la Publicación" class="imagen"/>

        <ion-card-content>
          {{publicacion.descripcion}}
        </ion-card-content>

        <ion-row class="boton-accion">
          <ion-col>
            <ion-button fill="clear" color="dark">
              <ion-icon name="bookmark-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="dark">
              <ion-icon name="call-outline"></ion-icon>
              Contactar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      </div>
  </ng-container>


</ion-content>
