<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Administrar Usuarios</ion-title>
      <div class="logo">
          <img src="assets/icon/logo-admin.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de usuarios</ion-card-title>
      <ion-card-subtitle>Administrar</ion-card-subtitle>
    </ion-card-header>
    <ng-container *ngFor="let usuario of usuarios">
      <div class="card-usuarios">
        <div class="perfil">
          <img [src]="usuario.foto" alt="Profile Picture" class="foto-perfil">
          <span class="nombre">{{ usuario.nombre_usuario }}</span>
        </div>
        <ion-card class="card-conten">
          <ion-card-header>
            <ion-card-title>{{ usuario.correo_usuario }}</ion-card-title>
          </ion-card-header>

         <ion-card-content>
            {{ usuario.telefono }}
          </ion-card-content>

          <ion-button (click)="confirmarBorrado()" fill="clear" color="dark">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-card>
      </div>
    </ng-container>
  </ion-card>
</ion-content>
