<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Foro de adopciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de usuarios</ion-card-title>
      <ion-card-subtitle>Administrar</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list *ngFor="let usuario of usuarios">
        <!-- Contenedor para el primer ítem -->
        <div class="item-container">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" [src]="usuario.foto ? usuario.foto : 'assets/icon/perfil.jpg'" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ usuario.nombre_usuario }}</h2>
              <h2>{{ usuario.correo_usuario }}</h2>
              <h2>9 {{ usuario.telefono }}</h2>
            </ion-label>
            <ion-button (click)="confirmarBorrado(usuario.id_usuario)" fill="clear" color="dark">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>

  </ion-card>
      
</ion-content>

