<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Foro de adopciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de usuarios</ion-card-title>
      <ion-card-subtitle>Administrar</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Contenedor para el primer ítem -->
        <div class="item-container">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
            <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>

        <!-- Contenedor para el segundo ítem -->
        <div class="item-container" >
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Profile Picture" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" class="circular-image"/>
            </ion-thumbnail>
            <ion-label>
              <ion-input placeholder="Nombre del Usuario"></ion-input>
              <ion-input placeholder="Email"></ion-input>
              <ion-input placeholder="Teléfono"></ion-input>
            </ion-label>
             <ion-icon name="trash"></ion-icon>
          </ion-item>
        </div>


      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


