<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Ubicaciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

    <div class="titulo-foro">
      <ion-title>Ubicaciones cercanas</ion-title>
    </div>

    <ng-container *ngFor="let ubicacion of ubicaciones">
      <div class="lista-ubicaciones">
        <ion-item (click)="detalleUbicacion(ubicacion)">
          <ion-avatar slot="start">
            <img src="assets/icon/location.png"/>
          </ion-avatar>
          <ion-header>
            {{ubicacion.nombre_ubicacion}}
          </ion-header>
          <ion-card-content>
            {{ubicacion.direccion}}
            {{ubicacion.telefono_lugar}}
          </ion-card-content>
        </ion-item>
      </div>
    </ng-container>
</ion-content>
