<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Ubicaciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

    <div class="titulo-foro">
      <ion-title>Ubicaciones cercanas</ion-title>
    </div>

    <div class="lista-ubicaciones" >
      <ng-container *ngFor="let ubicacion of ubicaciones">
  
        <ion-item (click)="detalleUbicacion(ubicacion)">
          <ion-avatar slot="start">
            <img src="assets/icon/location.png"/>
          </ion-avatar>
          <ion-label>
            <h2>{{ubicacion.nombre_ubicacion}}</h2>
            <p>{{ubicacion.direccion}}</p>
            <p>(9) {{ubicacion.telefono_lugar}}</p>
            <ion-note color="warning">{{ubicacion.servicio}}</ion-note>
          </ion-label>
      
        </ion-item>   
  
      </ng-container>
    </div>

    
</ion-content>
