<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="logo">
      <img src="assets/icon/logo-admin.png"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <div class="menu-home-admin">

    <div class="menu-admin">


      <div class="admin-logo">
        <img src="assets/icon/logo-admin2.png" style="height: 200px; width: 200px; margin-bottom: 20px;">
      </div>
      <div class="info-container">
        <div class="info-extra">
          <ion-card >
            <ion-card-header>
              <ion-card-subtitle>Administrador</ion-card-subtitle>
              <ion-card-title>Sesión de Administrador</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Usted ha ingresado como administrador. Obtendrá funciones únicas como administrar Usuarios, Publicaciones y Ubicaciones.
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="cards-container">

        <div class="row-bottom">

          <div class="item">
            <ion-button fill="clear" size="large" class="boton-home-admin" [routerLink]="'/usuarios-admin'">
              <ion-icon name="people-circle"></ion-icon>
            </ion-button>
            <p class="menu-text">Usuario</p>
          </div>

          <div class="item">
            <ion-button fill="clear" size="large" class="boton-home-admin" [routerLink]="'/publicaciones-admin'">
              <ion-icon name="albums"></ion-icon>
            </ion-button>
            <p class="menu-text">Publicación</p>
          </div>

          <div class="item">
            <ion-button fill="clear" size="large" class="boton-home-admin" [routerLink]="'/ubicaciones-admin'">
              <ion-icon name="pin"></ion-icon>
            </ion-button>
            <p class="menu-text">Ubicación</p>
          </div>

        </div>

      </div>
    </div>

  </div>
</ion-content>