<ion-app>
  <ion-menu-toggle color="primary">
    <ion-menu contentId="main-content">
      <ion-header>
        <div class="usuario">

          <div class="perfil-foto">
            <img [src]="fotoUsuario" alt="Foto de perfil">
          </div>
            <h1 class="usuario-text">{{ nombreUsuario }}</h1>
        </div>
        <ion-toolbar color="primary">
          <ion-title>Menú principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <!------>
      <ion-content>
        
        <ion-list lines="none">

          <!----ir al foro-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/foro'">
            <ion-icon name="paw-sharp"></ion-icon>
            <ion-label> Ir al Foro de adopción </ion-label>
          </ion-item>
  
          <!----ir al menu-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/home'">
            <ion-icon name="home"></ion-icon>
            <ion-label> Página Home</ion-label>
          </ion-item>

          <!----ver ubicaciones cercanas-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/ubicaciones'">
            <ion-icon name="pin"></ion-icon>
            <ion-label> Ver ubicaciones cercanas</ion-label>
          </ion-item>

          <!----ir a publicar-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/publicar'">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label> Realiza una publicación</ion-label>
          </ion-item>

          <!----ir a Publicaciones del Usuario-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/publicacion-usuario'">
            <ion-icon name="layers"></ion-icon>
            <ion-label>Mis publicaciones</ion-label>
          </ion-item>

          <!----ir a publicaciones que se guardan-->
          <ion-item color="primary" [routerDirection]="'root'" [routerLink]="'/publicacion-guardada'">
            <ion-icon name="bookmarks"></ion-icon>
            <ion-label>publicaciones guardadas</ion-label>
          </ion-item>

          <!----ir al perfil-->
          <ion-item color="primary"[routerDirection]="'root'" [routerLink]="'/perfil'">
            <ion-icon name="person"></ion-icon>
            <ion-label> Ir a página Perfil </ion-label>
          </ion-item> 




        </ion-list>

      </ion-content>

      <ion-button (click)="cerrarSesion()">Cerrar sesión<ion-icon class="cerrar" name="log-out-outline"></ion-icon></ion-button>

    </ion-menu>
  </ion-menu-toggle>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
