<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" color="header">

  
  <img src="assets/icon/logo.png" alt="App Logo" class="logo" />
  

  <div class="login-recuadro">
    <ion-card class="login-card" color="light">
      
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item color="light">
            <ion-input type="Email" label="Email" labelPlacement="floating" placeholder="Ingrese su correo"
            [(ngModel)]="emailInicio"
            name="emailInicio"></ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
            [(ngModel)]="contraInicio"
            name="contraInicio"></ion-input>
          </ion-item>

          <ion-button (click)="iniciar()">
            Iniciar
          </ion-button>
        </form>

        <ion-row class="register-link">
          <ion-col class="ion-text-center">
            <ion-router-link [routerLink]="['/registrar']">¿No tienes una cuenta? Registrate</ion-router-link>
          </ion-col>
        </ion-row>
        <ion-row class="recuperacion-link">
          <ion-col class="ion-text-center">
            <ion-router-link [routerLink]="['/recuperacion']">¿Olvidaste tu contraseña?</ion-router-link>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
