<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Foro de adopciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <div class="titulo-foro">
    <ion-title>Tu foro donde podras adoptar</ion-title>
  </div>
  
  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfilgojo.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Gojo Saturo</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>Se da en adopcion Erizo</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/erizo.jpg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfilruso.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Vodka</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>En adopcion 4 cachorros camada</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/cachorros.jpeg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfil.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">DiegoCru</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>Adopcion gato encontrado en calle</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/gato.jpg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfilgojo.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">Gojo Saturo</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>En adopcion Cachula</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/cachula.jpeg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfil.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">DiegoCruz</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>Adopcion cachorro 3 meses</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/perro.jpg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfilmine.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">MineSteve</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>Título de la Publicación</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/gato2.jpg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div class="card-publicacion">
    <div class="perfil">
      <img src="assets/icon/perfilgoku.jpg" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">GokuDog</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>Se da en adopcion Uron</ion-card-title>
      </ion-card-header>

      <img src="assets/icon/uron.jpg" alt="Imagen de la Publicación" class="imagen"/>

      <ion-card-content>
        Descripción breve de la publicación. Algo atractivo para llamar la atención.
      </ion-card-content>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  

  
</ion-content>



