<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Foro de adopciones</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <div class="titulo-foro">
    <ion-title>Tu foro donde podras adoptar</ion-title>
  </div>
  

  <ng-container *ngFor="let publicacion of publicaciones">
    <div class="card-publicacion">
      <div class="perfil">
        <img [src]="publicacion.foto_perfil ? publicacion.foto_perfil : 'assets/icon/perfil.jpg'" alt="Profile Picture" class="foto-perfil">
        <span class="nombre">{{ publicacion.nombre_usuario }}</span>
      </div>
      <ion-card class="card-conten">
        <ion-card-header>
          <ion-card-title>{{ publicacion.titulo }}</ion-card-title>
        </ion-card-header>
  
        <img [src]="publicacion.foto" alt="Imagen de la Publicación" class="imagen"/>
  
        <ion-card-content>
          {{ publicacion.descripcion }}
        </ion-card-content>
        
        <ion-chip style="margin-left: 10px;">{{publicacion.categoria}}</ion-chip>
  
        <ion-row class="boton-accion">
          <ion-col>
            <ion-button (click)="guardar(publicacion.id_publicacion)" fill="clear" color="dark">
              <ion-icon name="bookmark-outline"></ion-icon>
              Guardar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="contactar($event, publicacion.telefono)" fill="clear" color="dark">
              <ion-icon name="call-outline"></ion-icon>
              Contactar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ng-container>
  
  

  
</ion-content>



