<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Publicaciones guardadas</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

  <div class="perfil">
    <div class="perfil-foto">
      <img [src]="foto" alt="Foto de perfil">
    </div>
  </div>

  <!-- Lista de Publicaciones -->
  <div class="publicacion-eleccion"> 
    <ion-row>
      <ion-col>
        <ion-button fill="clear" color="dark" class="boton-inactivo" routerLink="/publicacion-usuario">
          <ion-icon name="layers-outline"></ion-icon>
          Publicaciones
        </ion-button>
      </ion-col>
      <div class="divider"></div>
      <ion-col>
        <ion-button fill="clear" color="dark"  class="boton-activo" >
          <ion-icon name="bookmarks"></ion-icon>
          Guardados
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list>
      <ng-container *ngFor="let publicacion of publicacionesGuardadas">
          <div class="card-publicacion">
            <div class="perfil">
              <img [src]="publicacion.foto_perfil ? publicacion.foto_perfil : 'assets/icon/perfil.jpg'" alt="Profile Picture" class="foto-perfil">
              <span class="nombre">{{ publicacion.nombre_usuario }}</span>
            </div>
            <ion-card class="card-conten">
              <ion-card-header>
                <ion-card-title>{{ publicacion.titulo}}</ion-card-title>
              </ion-card-header>
        
              <img [src]="publicacion.foto" alt="Imagen de la Publicación" class="imagen"/>
        
              <ion-card-content>
               {{ publicacion.descripcion}}
              </ion-card-content>
        
              <ion-row class="boton-accion">
                <ion-col>
                  <ion-button (click)="quitarGuardado()" fill="clear" color="dark">
                    <ion-icon name="bookmark-outline"></ion-icon>
                    Quitar
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="contactar($event)" fill="clear" color="dark">
                    <ion-icon name="call-outline"></ion-icon>
                    Contactar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>
        </ng-container>
      </ion-list>
    

    
    
  </div>

  
    
  
</ion-content>