.logo{
  display: inline-block;
  justify-content: end;
  margin-right: 20px;
  height: 70px;
  width: 70px;
}
.superior{
  display: flex;
  justify-content: center;
  
}

ion-chip {
  --background: rgb(129, 236, 195);
  --color: #1a6846;
}

.perfil-foto {
background: white;
padding: 5px;
border-radius: 50%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
z-index: 10;
margin-bottom: -395px;
margin-left: 120px; 
}


.perfil-foto img {
width: 120px;
height: 120px;
border-radius: 50%;
}

.divider {
height: 30px;
width: 2px;
background-color: var(--ion-color-dark);
margin: 0 10px;
}

.publicacion-eleccion{
background-color: var(--ion-color-primary);
border-top-left-radius: 25px;
border-top-right-radius: 25px;
margin-top: 150px;
padding: 15px;
box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.publicacion-eleccion ion-button[disabled]{
font-weight: bold;
color: #ffffff;
}

.publicaciones{
margin-top: 50px;
background-color: var(--ion-color-primary);
}


ion-card{
background: #d1eee8;
}
.card-publicacion {
margin: 40px 15px 60px 15px;
position: relative;
}

.perfil {
position: absolute;
top: -35px;
left: 20px;
display: flex;
align-items: center;
z-index: 10;
}

.foto-perfil {
width: 50px;
height: 50px;
border-radius: 50%;
border: 3px solid rgb(110, 230, 120);
}

.nombre {
margin-left: 10px;
font-weight: bold;
font-size: 16px;
background-color: rgb(129, 236, 195);
padding: 5px 10px;
border-radius: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-content {
margin-top: 40px;
border-radius: 15px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.imagen {
width: 100%;
height: auto;
border-radius: 0 0 15px 15px;
}

.boton-accion {
display: flex;
justify-content: space-between;
margin-top: 10px;
}

.boton-accion ion-button {
width: 100%;
text-align: center;
font-size: 16px;
--padding-start: 0;
--padding-end: 0;
}

.boton-accion ion-button:active {
--background: #000;
--color: #fff;
font-weight: bold;
}
.publicacion-eleccion ion-button[disabled] {
font-weight: bold;
color: #ffffff !important; 
}

.boton-inactivo{
color: var(--ion-color-medium);
box-shadow: none;
opacity: 0.6;
}

.boton-activo{
color: var(--ion-color-light);
font-weight: bold;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
