<ion-header [translucent]="true" >
  <ion-toolbar color="header">
    <ion-title>
      PetCareMap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PetCareMap</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Entra a la ducmnetacion aionis</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="header">
      <ion-tab-button tab="home" [routerLink]="['/iniciar']">
        <ion-icon name="paw"></ion-icon>
        Foro
      </ion-tab-button>
      <ion-tab-button tab="radio " [routerLink]="['/publicar']">
        <ion-icon name="add-circle"></ion-icon>
        Publicar
      </ion-tab-button>
      <ion-tab-button tab="library" [routerLink]="['/ubicaciones']">
        <ion-icon name="pin"></ion-icon>
        Ubicaciones
      </ion-tab-button>
      <ion-tab-button tab="search" [routerLink]="['/buscar']">
        <ion-icon name="search"></ion-icon>
        Buscar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
