<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Publicar en adopcion</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <!--Formulario publicacion-->
  <div class="publicacion">
    <ion-item>
      <ion-input label="Titulo de publicacion" labelPlacement="floating" placeholder="Ingrese titulo de publicacion"
      [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <input  type="file" (change)="eleccionImagen($event)" />
    </ion-item>

    <ion-item>
      <ion-textarea label="Descripción" labelPlacement="floating" placeholder="Máximo 100 caracteres" maxlength="100" 
      [(ngModel)]="descripcion"></ion-textarea>
      <ion-note slot="end">{{descripcion.length}}/100</ion-note>
    </ion-item>
  </div>

  <div class="division">
    <ion-label> Vista Previa </ion-label>
  </div>


    <!-- Vista previa-->
  <div class="vista-previa">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ titulo || 'Título de la publicación' }}</ion-card-title>
      </ion-card-header>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa de la imagen" />
      <ion-card-content>
        
        <p>{{ descripcion || 'Descripción de la publicación...' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-button expand="full" color="primary" (click)="publicar()">Publicar</ion-button>

  
