<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="superior">
      <ion-title>Publicar en adopcion</ion-title>
      <div class="logo">
          <img src="assets/icon/logo.png"/>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  
  <!--Formulario publicacion-->
  <div class="publicacion">
    <ion-item>
      <ion-input label="Titulo de publicacion" labelPlacement="floating" placeholder="Ingrese titulo de publicacion"
      [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-button>
      <input  (click)="takePicture()" />
    </ion-button>

    <ion-item>
      <ion-textarea label="Descripción" labelPlacement="floating" placeholder="Máximo 100 caracteres" maxlength="100" 
      [(ngModel)]="descripcion"></ion-textarea>
      <ion-note slot="end">{{descripcion.length}}/100</ion-note>
    </ion-item>

    <!-- ion-select para la categoría -->
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="id_categoria" placeholder="Seleccione una categoría">
        <ion-select-option value="1">Perros</ion-select-option>
        <ion-select-option value="2">Gatos</ion-select-option>
        <ion-select-option value="3">Perros y Gatos</ion-select-option>
        <ion-select-option value="4">Roedores</ion-select-option>
        <ion-select-option value="5">Otros</ion-select-option>
      </ion-select>
    </ion-item>
    
  </div>

  <div class="division">
    <ion-label> Vista Previa </ion-label>
  </div>


    <!-- Vista previa-->
  
  <div class="card-publicacion">
    <div class="perfil">
      <img [src]="imagePerfil" alt="Profile Picture" class="foto-perfil">
      <span class="nombre">{{ usuario.nombre_usuario}}</span>
    </div>
    <ion-card class="card-conten">
      <ion-card-header>
        <ion-card-title>{{ titulo || 'Título de la publicación' }}</ion-card-title>
      </ion-card-header>

      <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa de la imagen" class="imagen"/>

      <ion-card-content>
        {{ descripcion || 'Descripción de la publicación...' }}
      </ion-card-content>

      <div class="categoria-circle">
        {{ id_categoria ? getNombreCategoria(id_categoria) : 'Categoría no seleccionada' }}<!-- Usa un pipe para mostrar el nombre de la categoría -->
      </div>

      <ion-row class="boton-accion">
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="bookmark-outline"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="dark">
            <ion-icon name="call-outline"></ion-icon>
            Contactar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  
  <ion-button expand="full" color="primary" (click)="publicar()" class="boton-publicar" 
  style="padding: 0px 40px 20px 40px; font-weight: bold;">Publicar</ion-button>

  
